.loading {
}
.user { border-radius: 25px; padding: 50px; box-sizing: border-box;   color: rgb(102, 34, 91);
 margin: 0 auto;
  .box{width: 550px; height: 600px; margin: 0 auto; text-align: center;}
  img{width: 55% ; height: 80%; }
}
.h2{text-align: center;}