.loading {
}
.user {max-width: 1440px; width: 100%;  
  display: flex; margin: 0 auto;  margin-top: 100px;
.boxWrap{width:100% ; display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 320px;
  padding-right: 3%; 
>div{color: white;}
.votebox{display: flex; width: 100%; 
div{
  padding: 5px 15px; border: 1px solid white; border-radius: 20px; margin: 10px 15px; margin-left: 0; font-size: 15px; margin-top: 30px;
}}
.name{ margin-top: 50px ; font-size: 40px; font-weight: bolder;}
.overview{ margin-top: 20px; font-size: 15px; }
.releaseDate{}

}
.ibox{width: 25%;  box-sizing: border-box; position: relative;  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; height: 100%;
img{width: 100%; border-radius:    10px  10px 0px 0;}}
.bBox{ display: flex; position: absolute; bottom: -40px ; ;width: 100%;
  button{ width: 100%; height: 50px; padding: 0; border: none;  transition: .3s;
  &:first-child{background: rgb(255, 0, 0); border-radius: 0 0 0 10px ;}
  &:last-child{border-radius: 0  0 10px 0;} 
  &:first-child:hover{background: rgb(197, 0, 0); color: white;}
  &:last-child:hover{background: rgb(197, 197, 197); color: white;} 
}
}

}
