<<<<<<< HEAD
.container{ width: 1400px; margin: 0 auto; margin-top: 100px;  margin-bottom: 400px;}
=======
.container{ width: 1400px; margin: 100px auto;}
>>>>>>> 7d622e5dfd5b5dfb4a712af4b88eaf0fd12fc3f3
.container h2{ margin: 0; padding: 0; color: white; margin-bottom: 30px;}
