.store{width: 1400px; margin: 0 auto; margin-top: 100px;
 .storeInfo{ 
   h2{ margin: 0; margin-bottom: 30px;}
  .storeTan{
    ul{ display: flex;  justify-content: space-between; width: 800px; margin: 0 auto;
    li{color: rgb(0, 0, 0); list-style: none; text-align: center; padding: 10px 25px; background: white; border-radius: 20px;
    span{ font-size: 20px; font-weight: bold;}}}
  }}

 }