.loading {
}
.user { border-radius: 25px; padding: 50px; box-sizing: border-box;   color: rgb(102, 34, 91);
  .name {
  }
  .email {
  }
  .phone {
  }
  .website {
  }
  .box{width: 80%; height: 500px; background: wheat; margin: 0 auto;}
}
.h2{text-align: center;}