.infoBox{ color: white; width: 100%; padding: 20px 10px ;
   span{padding: 5px 0 ; font-size: 35px; font-weight: bold; display: block; margin-bottom: 5px;}
   .pt{font-size: 18px; margin-left: 20px; display: block;} 
   .iImgbox{ width: 550px ; margin-bottom: 50px ;
      img{width: 100%;}
   }
   .intBox{margin-bottom: 50px;}

}