.card {
  padding: 20px 30px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px 50px;
  border:  none;  
}
.card:hover{transform: scale(1.03); transition: .5s;
    box-shadow: rgba(211, 146, 255, 0.2) 0px 8px 24px;}
.link {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 18px;
  font-weight: bold;
}

